when PRP comes after VBP|VBZ, switch them
move noun in front of adj group
NN in front of VBG

all the -> every
if "NO" is preceeded by a noun, change it to dont|doesnt
when you id before a noun it becomes your
en can be in or on (place = in)
if you not followed by VB -> your
noun of noun -> noun's noun
